html {
    background-color: #FAF8EF;
}

h1 {
    color: rgb(133, 121, 110);
    font-family: "Arial Black";
    margin-bottom: 5px;
    margin-top: 5px;
}

button {
    font-family: "Arial Black";
    background-color: rgb(133, 121, 110);
    color: white;
    border: 0;
    border-radius: 3px;
    margin-bottom: 10px;
}

canvas {
    background-color: rgb(187,173,160);
    border-radius: 8px;
}